<!-- Hero and Navbar -->
<div class="hero main-hero is-fullheight">

    <!-- Hero content -->
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered hero-caption">
                <div class="column is-7 laptop-container">
                    <!-- <img class="laptop levitate" src="assets/img/illustrations/mockups/iso-laptop-no-shadow-app.png" alt=""> -->
                    <img class="laptop-shadow scaleShadow"
                        src="../../../assets/img/trucks/joey-kyber-vXtX07KVcE8-unsplash.jpg" class="" alt="">
                    <!-- <img class="laptop-shadow scaleShadow" src="assets/img/shapes/shadow.png" alt=""> -->
                </div>
                <div class="column is-5 is-hero-title">
                    <h1 class="title is-3 is-bigger">
                        Saleh Logistics
                    </h1>
                    <h2 class="subtitle is-4">
                        A solution to the crippling service of logistics in Northern Nigeria.
                    </h2>
                    <div class="buttons">
                        <a href="#" class="button button-cta is-bold btn-align white-btn is-rounded raised">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="square square-1"></div>
    <div class="square square-2"></div>

    <img class="slant-shape" src="assets/img/shapes/slant-light.svg" alt="">