<p>feature works!</p>
<div class="section">
    <div class="container">
        <!-- Feature -->
        <div class="columns is-vcentered">
            <div class="column is-7 has-text-centered">
                <img class="featured-image" src="assets/img/illustrations/UI/feature-1.png" alt="">
            </div>
            <div class="column is-5">
                <h2 class="title section-title is-demo bordered dark-text no-margin">Generate Leads</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu
                    harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>
        <!-- Feature -->
        <div class="columns is-vcentered">
            <div class="column is-7 has-text-centered is-hidden-desktop is-hidden-tablet">
                <img class="featured-image" src="assets/img/illustrations/UI/feature-2.png" alt="">
            </div>
            <div class="column is-5">
                <h2 class="title section-title is-demo bordered dark-text no-margin">Set Up Workflows</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu
                    harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
            <div class="column is-7 has-text-centered is-hidden-mobile">
                <img class="featured-image" src="assets/img/illustrations/UI/feature-2.png" alt="">
            </div>
        </div>
        <!-- Feature -->
        <div class="columns is-vcentered">
            <div class="column is-7 has-text-centered">
                <img class="featured-image" src="assets/img/illustrations/UI/feature-3.png" alt="">
            </div>
            <div class="column is-5">
                <h2 class="title section-title is-demo bordered dark-text no-margin">Track Your Tasks</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu
                    harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>
    </div>
</div>