<div class="is-0 is-variable ">
    <div class="columm is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile padding-left">
        <div>
            <div class="p-1">
                <div class="columns is-variable is-desktop">
                    <div class="column">
                        <h1 class="title">Navigation</h1>
                    </div>
                </div>
                <div class="column">
                    <div #mapContainer id="map"></div>
                </div>
                <div class="flex-card light-bordered hover-raised">
                    <div class="card-body">
                        <div class="content">
                            <h2 class="no-margin title-bold">Card title</h2>
                            <p class="pt-10">Lorem ipsum dolor sit amet, has vero libris melius ea, omnis velit
                                comprehensam duo an, meis ornatus eam ad. Ius ut labores scaevola.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-title">
                                    Book your delivery
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>