<main>
    <div>
        <main-side-nav [initialState]="'expanded'"></main-side-nav>
    </div>

    <!-- main body with router outlet -->
    <!-- All child routed components appear here -->
    <section>
        <main-header></main-header>

        <router-outlet></router-outlet>

        <main-documents></main-documents>
        <main-messages></main-messages>
        <main-navigation></main-navigation>
        <main-reporting></main-reporting>
        <main-settings></main-settings>
    </section>
    <section>
        
    </section>

</main>

