<main>
    <div>
        <main-side-nav [initialState]="'expanded'"></main-side-nav>
    </div>

    <!-- main body with router outlet -->
    <!-- All child routed components appear here -->
    <section>
        <main-header></main-header>

        <router-outlet></router-outlet>

        <!-- <button class="button is-primary is-medium" (click)="changeComponent('document')">documents</button>

        <button class="button is-primary is-medium" (click)="changeComponent('reporting')">reporting</button>

        <button class="button is-primary is-medium" (click)="changeComponent('settings')">Settings </button>

        <main-documents *ngIf="currentComponent === 'document'"></main-documents>
        <main-messages *ngIf="currentComponent === ''"></main-messages>
        <main-navigation *ngIf="currentComponent === ''"></main-navigation>
        <main-reporting *ngIf="currentComponent === 'reporting'"></main-reporting>
        <main-settings *ngIf="currentComponent === 'settings'"></main-settings> -->
    </section>
    <section>
        
    </section>

</main>

