<div class="auth-nav">
    <a [routerLink]="['/']">
        <img src="../../../assets/img/logos/Saleh/saleh-dark-pink.png" alt="">
    </a>
</div>

<div class="auth-outer">

    <div class="mobile-auth-toggle">
        <h3 class="title">Have an account?</h3>
        <button type="button" class="button action-btn is-rounded">Register</button>
    </div>

    <div class="auth-box shadow">
        <div class="form-wrapper">
            <div class="login">
                <div class="header">
                    <h2 class="title is-4">Login</h2>
                </div>
                <!-- <div class="item-list">
                    <div class="item shadow">
                        <a><i class="fa fa-google"></i></a>
                        <a><i class="fa fa-facebook"></i></a>
                        <a><i class="fa fa-linkedin"></i></a>
                    </div>
                </div> -->
                <div class="body">
                    <div class="section notification" *ngIf="error">
                        <p>{{ error }}</p>
                    </div>
                    <div *ngIf="isLoading" style="text-align: center;">
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="field">
                            <div class="level form-group">
                                <label class="label level-item has-level-item-centered title is-5">Account User</label>
                            </div>
                            <div class="control has-icons-left">
                                <div class="select">
                                    <select name="type">
                                        <option value="Driver">Driver</option>
                                        <option value="Customer">Customer</option>
                                    </select>
                                </div>
                                <div class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Email" formControlName="email"
                                    name="email" email required>
                                <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                                    class="help">Valid email is required!</span>
                                <div class="form-icon">
                                    <i class="sl sl-icon-envelope-open"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" placeholder="Password" formControlName="password"
                                    name="password" minlength="6">
                                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
                                    class="help">Valid password is required!</span>
                                <div class="form-icon">
                                    <i class="sl sl-icon-lock"></i>
                                </div>
                            </div>
                        </div>
                        <span *ngIf="!loginForm.valid && loginForm.touched" class="help">Please enter valid data</span>
                        <button type="submit" class="button primary-btn raised is-rounded is-bold">Login</button>
                        <a href="#" class="forgot-password">
                            Forgot Password?
                        </a>
                    </form>
                </div>
            </div>

        </div>
        <div class="side-box register">
            <!-- <div class="register"> -->
                <div class="header">
                    <h2 class="title is-4">Register</h2>
                </div>
                <div class="body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="field">
                            <div class="control is-grouped">
                                <input class="input" type="text" id="username" placeholder="Username"
                                    formControlName="username">
                                <span
                                    *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
                                    class="help">Valid username is required!</span>
                                <div class="form-icon">
                                    <i class="sl sl-icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Email" formControlName="email">
                                <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
                                    class="help">
                                    Valid email is required!
                                </span>
                                <div class="form-icon">
                                    <i class="sl sl-icon-envelope-open"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" placeholder="Password" formControlName="password">
                                <span
                                    *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                                    class="help">
                                    Password should be at least 6 characters!
                                </span>
                                <div class="form-icon">
                                    <i class="sl sl-icon-lock"></i>
                                </div>
                            </div>
                        </div>
                        <span *ngIf="!registerForm.valid && registerForm.touched" class="help">Please enter valid
                            data</span>
                        <div class="d-flex flex-column">
                            <button type="submit" class="button primary-btn raised is-rounded is-bold">Register</button>
                        </div>
                    </form>
                </div>
            <!-- </div> -->
        </div>
        <!-- <div class="side-box">
            <h3 class="title is-light">Have an account?</h3>
            <button type="button" class="button action-btn is-rounded">
                {{ isLoginMode ? 'Register' : 'Login' }}
            </button>
        </div> -->
    </div>