<!-- Sidebar -->
<div class="columns is-variable is-0">
    <div>
      <div class="menu-container px-1 has-background-white">
        <div class="menu-wrapper">
          <aside>
            <aside class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><a><i class="fas fa-tachometer-alt icon"></i>Dashboard</a></li>
                <li><a>Customers</a></li>
              </ul>
              <p class="menu-label">
                Administration
              </p>
              <ul class="menu-list">
                <li><a>Navigation</a></li>
                <li>
                  <a class="">Manage Your Loads</a>
                  <ul>
                    <li><a>Active Trips</a></li>
                    <li><a>Scheduled Trips</a></li>
                    <li><a>Track an order</a></li>
                  </ul>
                </li>
                <li><a>Documentation</a></li>
                <li><a>Reports and Analytics</a></li>
                <li><a>Messages</a></li>
                <li><a>Settings</a></li>
              </ul>
              <p class="menu-label">
                Transactions
              </p>
              <ul class="menu-list">
                <li><a>Payments</a></li>
                <li><a>Transfers</a></li>
                <li><a>Balance</a></li>
              </ul>
            </aside>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <!-- /Sidebar -->
  