<!-- Hero and Navbar -->
<div class="hero main-hero is-medium-with-navbar">

  <!-- Navbar partial -->
  <nav class="navbar navbar-wrapper is-cloned">
    <div class="container">
      <!-- Brand -->
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
          <img src="assets/img/logos/Saleh/saleh-dark-pink.png" alt="">
        </a>
        <!-- Responsive toggle -->
        <div class="custom-burger" data-target="is-cloned">
          <a class="responsive-btn" href="javascript:void(0);">
            <span class="menu-toggle">
              <span class="icon-box-toggle">
                <span class="rotate">
                  <i class="icon-line-top"></i>
                  <i class="icon-line-center"></i>
                  <i class="icon-line-bottom"></i>
                </span>
              </span>
            </span>
          </a>
        </div>
        <!-- /Responsive toggle -->
      </div>

      <!-- Navbar menu -->
      <div id="is-cloned" class="navbar-menu">
        <!-- Navbar end -->
        <div class="navbar-end">
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/services">
            Services
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/about-us">
            About
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/contact-us">
            Contact
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/main/dashboard">
            Dashboard
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/login">
            Login
          </a>
          <!-- Signup button -->
          <div class="navbar-item is-button is-centered-tablet">
            <a id="#signup-btn" routerLink="/register"
              class="button button-cta is-bold btn-align primary-btn raised is-rounded">
              Sign up
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-wrapper navbar-light is-transparent is-static">
    <div class="container">
      <!-- Brand -->
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
          <img src="assets/img/logos/Saleh/saleh-white.png" alt="">
        </a>
        <!-- Responsive toggle -->
        <div class="custom-burger" data-target="is-static">
          <a class="responsive-btn" href="javascript:void(0);">
            <span class="menu-toggle">
              <span class="icon-box-toggle">
                <span class="rotate">
                  <i class="icon-line-top"></i>
                  <i class="icon-line-center"></i>
                  <i class="icon-line-bottom"></i>
                </span>
              </span>
            </span>
          </a>
        </div>
        <!-- /Responsive toggle -->
      </div>

      <!-- Navbar menu -->
      <div id="is-static" class="navbar-menu">
        <!-- Navbar end -->
        <div class="navbar-end">
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/services">
            Services
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/about-us">
            About
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/contact-us">
            Contact
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/main/dashboard">
            Dashboard
          </a>
          <!-- Navbar item -->
          <a class="navbar-item is-slide is-centered-tablet" routerLink="/login">
            Login
          </a>
          <!-- Signup button -->
          <div class="navbar-item is-button is-centered-tablet">
            <a id="#signup-btn-double" routerLink="/register"
              class="button button-cta is-bold btn-align primary-btn raised is-rounded">
              Sign up
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- </div> -->
</div>