<!-- <aside class="columns is-2"> -->
<div class="side-navigation-menu animated preFadeInRZight fadeInRight">
<!-- Category menu-->
<div class="category-menu-wrapper">
            <ul class="categories">
                <li class="square-logo"><img src="assets/img/logos/square-white.svg" alt=""></li>
                <li class="category-link is-active" data-navigation-menu="demo-pages"><i class="sl sl-icon-layers"></i>
                </li>
                <li class="category-link" data-navigation-menu="onepagers"><i class="sl sl-icon-energy"></i></li>
                <li class="category-link" data-navigation-menu="components"><i class="sl sl-icon-grid"></i></li>
            </ul>
        </div>
<!-- Navigation menu -->
<div id="demo-pages" class="navigation-menu-wrapper animated preFadeInRight fadeInRight">
<!-- Navigation Header -->
<div class="navigation-menu-header">
                <span>Driver</span>
            </div>
<!-- Navigation body -->
<ul class="navigation-menu">
                <li class="has-children"><a class="parent-link" routerLink="./dashboard"><span
                            class="material-icons">local_shipping</span>Current Trips</a>
                    <ul>
                        <li><a class="is-submenu" routerLink="/">Homepage</a></li>
                        <li><a class="is-submenu" routerLink="/">About</a></li>
                        <li><a class="is-submenu" routerLink="/">Portfolio</a></li>
                        <li><a class="is-submenu" routerLink="/">Contact</a></li>
                    </ul>
                </li>
                <li class=""><a class="" routerLink="./documents"><span class="material-icons">folder</span>Documents</a>
                </li>
                <li class=""><a class="" routerLink="./reporting"><span class="material-icons">show_chart</span>Reporting</a>
                </li>
                <li><a routerLink="./messages"><span class="material-icons">message</span>Messages</a></li>
                <li><a routerLink="./navigation"><span class="material-icons">navigation</span>Navigation</a></li>
                <li class="has-children"><a class="parent-link" routerLink="./settings"><span
                            class="material-icons">settings</span>Settings</a>
                    <ul>
                        <li><a class="is-submenu" routerLink="/profile">Profile</a></li>
                        <li><a class="is-submenu" routerLink="/payment">Payment</a></li>
                        <li><a class="is-submenu" routerLink="/sign-out">Sign out</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
<!-- </aside> -->
