<div class="is-0 is-variable ">
    <div class="columm is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile padding-left">
        <div>
            <div class="p-1">
                <div class="columns is-variable is-desktop">
                    <div class="container column">
                        <h1 class="title">Navigation</h1>
                    </div>
                </div>
                <div class="container column">
                    <agm-map appDirectionsMap [showDirection]="this.displayDirections" [origin]="origin"
                        [destination]="destination" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                        <agm-marker [latitude]="origin.latitude" [longitude]="origin.longitude"></agm-marker>
                    </agm-map>
                </div>
                <div class="columns pt-10 pr-10 is-variable is-desktop is-mobile">
                    <div class="column">
                        <!-- <div class="section"> -->
                        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                            <div class="flex-card light-bordered">
                                <div class="card-body">
                                    <div class="content">
                                        <h2 class="no-margin title-bold">Pickup Location</h2>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <p class="header pl-10"> Street Address</p>
                                            <input class="input is-rounded" type="text" formControlName="p_street"
                                                placeholder="Mississippi Street">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <p class="header pl-10">State</p>
                                            <input class="input is-rounded" type="text" formControlName="p_state"
                                                placeholder="Abuja">
                                        </div>
                                    </div>
                                    <!-- <div class="field">
                                        <div class="control">
                                            <p class="header pl-10">Email</p>
                                            <input class="input is-rounded" type="email" formControlName="p_email"
                                                placeholder="John Doe">
                                        </div>
                                    </div> -->
                                    <div class="field">
                                        <div class="control">
                                            <p class="header pl-10">Contact</p>
                                            <input class="input is-rounded" type="tel" formControlName="p_tel"
                                                placeholder="+234....">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <p class="header pl-10">Zip Code</p>
                                            <input class="input is-rounded" type="text" formControlName="p_zip_code"
                                                placeholder="Postal/ Zip Code">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <p class="header pl-10">Pickup Date</p>
                                            <input class="input is-rounded" type="date" formControlName="p_date"
                                                placeholder="Pickup Date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                            <!-- </form> -->
                            <!-- </div> -->
                            <!-- <div class="container column"> -->
                            <!-- <div class="section"> -->
                            <!-- <form [formGroup]="dropoffForm" (ngSubmit)="onSubmit()"> -->
                            <div class="flex-card light-bordered">
                                <div class="card-body">
                                    <div class="content">
                                        <h2 class="no-margin title-bold">Drop-off location</h2>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-rounded" type="text" formControlName="d_street"
                                                placeholder="Street Address">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-rounded" type="text" formControlName="d_state"
                                                placeholder="State">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-rounded" type="text" formControlName="d_zip_code"
                                                placeholder="Postal/ Zip Code">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input class="input is-rounded" type="date" formControlName="d_date"
                                                placeholder="Drop-off Date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <button type="submit" class="button primary-btn raised is-rounded is-bold">Place
                                    order</button>
                            </div>
                        </form>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>