<!-- Footer -->
<footer class="footer-light-medium">
  <div class="container">
    <div class="footer-head">
      <div class="head-text">
        <h3>Ready to get started?</h3>
        <p>Create your free account now</p>
      </div>
      <div class="head-action">
        <div class="buttons">
          <a class="button chat-button primary-btn is-rounded raised action-button">Chat with us</a>
        </div>
      </div>
    </div>
    <div class="columns footer-body">
      <!-- Column -->
      <div class="column is-12">
        <div class="columns">
          <!-- Column -->
          <div class="column">
            <ul class="footer-column">
              <li class="column-header">
                Saleh Logistics
              </li>
              <li class="column-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="column-item"><a [routerLink]="['/home']">Get started</a></li>
              <li class="column-item"><a [routerLink]="['/services']">Help</a></li>
            </ul>
          </div>
          <!-- Column -->
          <div class="column">
            <ul class="footer-column">
              <li class="column-header">
                Ressources
              </li>
              <li class="column-item"><a [routerLink]="['/routePath']">Learning</a></li>
              <li class="column-item"><a [routerLink]="['/routePath']">Support center</a></li>
              <li class="column-item"><a [routerLink]="['/routePath']">Frequent questions</a></li>
            </ul>
          </div>
          <!-- Column -->
          <div class="column">
            <ul class="footer-column">
              <li class="column-header">
                Terms
              </li>
              <li class="column-item"><a [routerLink]="['/routePath']">Terms of Service</a></li>
              <li class="column-item"><a [routerLink]="['/routePath']">Privacy policy</a></li>
            </ul>
          </div>
          <!-- Column -->
          <div class="column">
            <ul class="footer-column">
              <li class="column-header">
                Social Media
              </li>
              <div class="social-links pt-10 pb-10">
                <a [routerLink]="['/routePath']">
                  <span class="icon"><i class="fa fa-instagram"></i></span>
                </a>
                <a [routerLink]="['/routePath']">
                  <span class="icon"><i class="fa fa-twitter"></i></span>
                </a>
                <a [routerLink]="['/routePath']">
                  <span class="icon"><i class="fa fa-linkedin"></i></span>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Simple light footer -->